{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Dashboard{% endblock %}</title>

    <link href="{% static 'luminance/css/bashDash/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'luminance/css/bashDash/style.css' %}">
    <link rel="stylesheet" href="{% static 'luminance/css/mygaleri/style.css' %}">
    <link rel="stylesheet" href="{% static 'luminance/css/tambahGaleri/style.css' %}">
    <link rel="stylesheet" href="{% static 'luminance/css/editGaleri/style.css' %}">
</head>
<body id="page-top"> {# Penting: Tambahkan id="page-top" untuk scroll to top #}

    <div id="wrapper">

        {% include 'luminance/partialsDash/sidebar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                {% include 'luminance/partialsDash/topbar.html' %}

                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
                </div>
            {% include 'luminance/partialsDash/footer.html' %}

        </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a> {# Perlu disesuaikan jika ada URL logout di sini #}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'luminance/js/dashboard/jquery.min.js' %}"></script>
    <script src="{% static 'luminance/js/dashboard/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'luminance/js/dashboard/jquery.easing.min.js' %}"></script>
    <script src="{% static 'luminance/js/tambahGaleri/script.js' %}"></script>
    <script src="{% static 'luminance/js/editGaleri/script.js' %}"></script>
    <script src="{% static 'luminance/js/dashboard/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'luminance/js/dashboard/chart-area-demo.js' %}"></script>
    <script src="{% static 'luminance/js/dashboard/Chart.min.js' %}"></script>
    <script src="{% static 'luminance/js/dashboard/chart-pie-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>
</html>