{% extends 'luminance/base.html' %} {% block title %}Beranda{% endblock %} 
{%block content %} {% load static %}
<div class="container-fluid">
  <div class="row">
    <nav
      style="--bs-breadcrumb-divider: '>'"
      aria-label="breadcrumb"
      class="nav-bread border rounded"
    >
      <ol class="breadcrumb bread-pad">
        <li class="breadcrumb-item"><a href="{% url 'galeri' %}">Galeri</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'detail_galeri'  pk=gallery.pk %}">{{ gallery.title }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ artwork.title }}
        </li>
      </ol>
    </nav>

    <div
      class="col-md-9 artwork-port overflow-x-scroll"
      style="max-height: 100vh"
    >
      <div class="row con-art">
        <div class="container-fluid position-relative">
          {% if prev_artwork %}
          <a
            href="{% url 'detail_karya' prev_artwork.pk %}"
            class="btn btn-primary position-absolute start-0 top-50 translate-middle-y arrow-btn"
            >❮</a
          >
          {% endif %}
          <img
            src="{{ artwork.image_url.url }}"
            class="artwork-view w-90"
            alt="{{ artwork.title }}"
          />

          {% if next_artwork %}
          <a
            href="{% url 'detail_karya' next_artwork.pk %}"
            class="btn btn-primary position-absolute end-0 top-50 translate-middle-y arrow-btn"
            >❯</a
          >
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-3 dkarya-info-karya">
      <div class="container-fluid border rounded karya-info">
        <div class="row">
          <div class="col-sm-4 justify-content-center">
            <img
              src="{{ profile.profile_picture.url }}"
              class="img-thumbnail photo-profil-galeri rounded-circle"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <h1 class="gallery-name">{{ gallery.title }}</h1>
          </div>
        </div>
        <div class="row">
          <h1 class="artwork-title">"{{ artwork.title }}"</h1>
          <h2 class="artwork-medium">
            <span>{{ artwork.media }}</span> | {{ artwork.dimension }}
          </h2>
          <p class="artwork-desc">{{ artwork.description }}</p>

          <h3 class="artwork-desc">
            Karya oleh <span>{{ artwork.artist }}</span>
          </h3>
        </div>
      </div>

      <div class="container-fluid more-art-by">
        <div class="row more-by-bg rounded"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
