{% extends 'luminance/base.html' %} {% block title %}Detail Galeri{% endblock %}
{% block content %} {% load static %}
<div class="container-fluid">
  <div class="row">
    <!-- Breadcrumb -->
    <nav
      style="--bs-breadcrumb-divider: '>'"
      aria-label="breadcrumb"
      class="nav-bread border rounded"
    >
      <ol class="breadcrumb bread-pad">
        <li class="breadcrumb-item"><a href="{% url 'galeri' %}">Galeri</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ gallery.title }}
        </li>
      </ol>
    </nav>

    <!-- Sidebar Info Galeri -->
    <div class="col-md-3 dgaleri-info-galeri bg-light">
      <div class="container-fluid border rounded gal-info">
        <div class="row">
          <div class="col-sm-4 justify-content-center">
            {% if profile and profile.profile_picture %}
            <img
              src="{{ profile.profile_picture.url }}"
              class="img-thumbnail photo-profil-galeri rounded-circle"
              alt="Profile Picture"
            />
            {% else %}
            <img
              src="{% static 'luminance/img/abs.png' %}"
              class="img-thumbnail photo-profil-galeri rounded-circle"
              alt="Default"
            />
            {% endif %}
          </div>
          <div class="col-md-8">
            <h1 class="gallery-name">{{ gallery.title }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p class="gallery-desc mt-3">{{ gallery.description }}</p>
          </div>
        </div>

        <div class="row pos-loc">
          <div class="col-sm-1">
            <i class="fa-solid fa-location-dot fa-lg"></i>
          </div>
          <div class="col-sm-10 gallery-loc">
            <p>{{ profile.location }}</p>
          </div>
        </div>

        <h3 class="contact-gallery">Kontak kami</h3>
        <ul class="list-group list-group-flush contact-gallery">
          <li class="list-group-item">
            <h6 class="profil-email">
              <i class="fa-solid fa-envelope"></i>
              <span>{{ gallery.owner.email }}</span>
            </h6>
          </li>

          <li class="list-group-item">
            <i class="fa-solid fa-phone"></i> {{ profile.phone }}
          </li>
        </ul>

        <h3 class="contact-gallery">Media sosial</h3>
        <ul class="d-flex list-unstyled gap-3 contact-gallery">
          <li>
            <a href="{{ profile.instagram_link }}" target="_blank">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
          </li>
          <li>
            <a href="{{ profile.facebook_link }}" target="_blank">
              <i class="fa-brands fa-facebook fa-xl"></i>
            </a>
          </li>
          <li>
            <a href="{{ profile.x_link }}" target="_blank">
              <i class="fa-brands fa-x-twitter fa-xl"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Artwork Section -->
    <div
      class="col-md-9 dgaleri-artwork flex-wrap overflow-x-scroll"
      style="max-height: 100vh"
    >
      <div class="content-wrapper">
        {% for style, artworks in artworks_by_style.items %}
        <div class="row {{ style|lower }}">
          <h2 class="title-style-top">{{ style }}</h2>
          <ul class="list-inline home-list-artwork">
            {% for artwork in artworks %}
            <li class="list-inline-item list-realis">
              <div class="image-hover-wrapper">
                <a href="{% url 'detail_karya' artwork.pk %}">
                  <img
                    src="{{ artwork.image_url.url }}"
                    class="img-fluid galeri-img-artwork shadow"
                  />
                </a>

                <div class="image-title">{{ artwork.title }}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
