{% extends 'luminance/baseDash.html' %} 

{% block title %}Detail Galeri & Karya{% endblock %}

{% block content %} 
{% load static %}

<div class="container-fluid">
  {% if messages %} {% for message in messages %}
  <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}

  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'galeriSaya' %}">Galeri</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Atur Galeri</li>
    </ol>
  </nav>
  <div class="row mygaleri">
    <div class="col-md-5">
      <div class="container-fluid border rounded karya collapse-pad">
        <ul class="list-group list-group-flush mb-3">
          <li class="list-group-item edit-info-gall-name">
            {{ gallery.title }}
          </li>
          <li class="list-group-item edit-info-gall">
            <i class="fa-solid fa-location-dot fa-lg"></i> {{ gallery.location}}
          </li>
          <li class="list-group-item edit-info-gall">
            <i class="fa-solid fa-phone"></i> {{ gallery.contact }}
          </li>
          <li class="list-group-item edit-info-gall">
            <i class="fa-brands fa-instagram"></i> {{ gallery.ig }}
          </li>
          <li class="list-group-item edit-info-gall">
            <i class="fa-brands fa-facebook"></i> {{ gallery.fb }}
          </li>
          <li class="list-group-item edit-info-gall">
            <i class="fa-brands fa-square-x-twitter"></i> {{ gallery.xtwt }}
          </li>
          <li class="list-group-item edit-info-gall">
            <p>{{ gallery.description }}</p>
          </li>

          <li class="list-group-item edit-info-gall">
            <label for="thum-preview">Thumbnail</label>
            <div class="card" style="width: 21rem">
              <img
                src="{{ gallery.thumbnail.url }}"
                class="card-img-top fit-image"
                alt="Preview Image"
                id="imagePreview"
              />
            </div>
          </li>
        </ul>
        <p class="d-inline-flex gap-1 mt-2">
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseEditGaleri"
            {#
            Ganti
            id
            target
            collapse
            #}
            aria-expanded="false"
            aria-controls="collapseEditGaleri"
            {#
            Ganti
            id
            controls
            collapse
            #}
          >
            Edit info galeri
          </button>
        </p>
        <div class="collapse" id="collapseEditGaleri">
          {# Ganti id collapse #}
          <div class="container-fluid border rounded form-tambah-galeri">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="editJudulGaleri" class="form-label">Judul</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="editJudulGaleri"
                  value="{{ gallery.title }}"
                />
              </div>

              <div class="mb-3">
                <label for="editKontakGaleri" class="form-label">Kontak*</label>
                <input
                  type="text"
                  class="form-control"
                  name="contact"
                  id="editKontakGaleri"
                  value="{{ gallery.contact }}"
                />
              </div>

              <div class="mb-3">
                <label for="editLokasiGaleri" class="form-label">Lokasi</label>
                <input
                  type="text"
                  class="form-control"
                  name="location"
                  id="editLokasiGaleri"
                  value="{{ gallery.location }}"
                />
              </div>

              <label for="editThumbGaleri" class="form-label"
                >Thumbnail galeri*</label
              >
              <div class="input-group mb-3">
                <input
                  type="file"
                  class="form-control"
                  name="thumbnail"
                  id="editThumbGaleri"
                  accept="image/*"
                />
                <label class="input-group-text" for="editThumbGaleri"
                  >Upload</label
                >
              </div>

              <label for="editSocialMedia" class="form-label"
                >Media sosial</label
              >
              <div class="row g-3">
                <div class="col">
                  <i class="fa-brands fa-instagram"></i>
                  <input
                    type="text"
                    class="form-control"
                    name="ig"
                    value="{{ gallery.ig }}"
                    placeholder="Instagram URL"
                  />
                </div>
                <div class="col">
                  <i class="fa-brands fa-facebook"></i>
                  <input
                    type="text"
                    class="form-control"
                    name="fb"
                    value="{{ gallery.fb }}"
                    placeholder="Facebook URL"
                  />
                </div>
                <div class="col mb-3">
                  <i class="fa-brands fa-square-x-twitter"></i>
                  <input
                    type="text"
                    class="form-control"
                    name="xtwt"
                    value="{{ gallery.xtwt }}"
                    placeholder="Twitter URL"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="editDeskripsiGaleri" class="form-label"
                  >Deskripsi</label
                >
                <textarea
                  class="form-control"
                  name="description"
                  id="editDeskripsiGaleri"
                  rows="3"
                >
                {{ gallery.description }}</textarea
                >
              </div>

              <button type="submit" class="btn btn-primary">
                Simpan perubahan
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="container-fluid border rounded karya collapse-pad mt-4">
        {# Menambahkan margin top untuk pemisah #}
        <p class="d-inline-flex gap-1">
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTambahKarya"
            {#
            Ganti
            id
            target
            collapse
            #}
            aria-expanded="false"
            aria-controls="collapseTambahKarya"
            {#
            Ganti
            id
            controls
            collapse
            #}
          >
            Tambah karya
          </button>
        </p>
        <div class="collapse" id="collapseTambahKarya">
          {# Ganti id collapse #}
          <div class="container-fluid border rounded form-tambah-galeri">
            <form>
              <div class="mb-3">
                <label for="tambahJudulKarya" class="form-label">Judul</label>
                <input
                  type="text"
                  class="form-control"
                  id="tambahJudulKarya"
                  aria-describedby="tambahJudulHelp"
                />
              </div>
              <div class="mb-3">
                <label for="tambahTahunKarya" class="form-label">Tahun</label>
                <input type="text" class="form-control" id="tambahTahunKarya" />
              </div>

              <div class="mb-3">
                <label for="tambahMediaKarya" class="form-label">Media</label>
                <input type="text" class="form-control" id="tambahMediaKarya" />
              </div>

              <div class="mb-3">
                <label for="tambahDimensiKarya" class="form-label"
                  >Dimensi</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tambahDimensiKarya"
                  aria-describedby="tambahDimensiHelp"
                />
              </div>
              <div class="mb-3">
                <label for="tambahSenimanKarya" class="form-label"
                  >Seniman</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tambahSenimanKarya"
                />
              </div>

              <div class="mb-3">
                <label for="tambahKontakSenimanKarya" class="form-label"
                  >Kontak seniman</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tambahKontakSenimanKarya"
                />
              </div>

              <label for="unggahKaryaFile" class="form-label"
                >Unggah karya</label
              >
              <div class="input-group mb-3">
                <input
                  type="file"
                  class="form-control"
                  id="unggahKaryaFile"
                  accept="image/*"
                  {#
                  Menambahkan
                  accept
                  untuk
                  gambar
                  #}
                />
                <label class="input-group-text" for="unggahKaryaFile"
                  >Upload</label
                >
              </div>

              <div class="mb-3">
                <label for="tambahDeskripsiKarya" class="form-label"
                  >Deskripsi</label
                >
                <textarea
                  class="form-control"
                  id="tambahDeskripsiKarya"
                  rows="3"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Unggah</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 bg-edit-img border rounded">
      <div class="row">
        <div class="scroll-wrapper">
          <h2 class="title-style-top">Realisme</h2>
          <ul class="list-inline m-0 p-0">
            <li class="list-inline-item mygalleries-list">
              <div class="card sec-card-editgaleri" style="width: 16rem">
                <img
                  src="{% static 'luminance/img/abs.png' %}"
                  class="card-img-top fit-image"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <div class="d-flex justify-content-left align-items-center">
                    <button type="submit" class="btn btn-outline-danger">
                      <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                    <button
                      class="btn btn-outline-warning ms-2"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvasRight"
                      aria-controls="offcanvasRight"
                    >
                      <i class="fa-solid fa-pencil fa-xl"></i> Edit
                    </button>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-inline-item mygalleries-list">
              <div class="card sec-card-editgaleri" style="width: 16rem">
                <img
                  src="{% static 'luminance/img/abs.png' %}"
                  class="card-img-top fit-image"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <i
                      class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                    ></i>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-inline-item mygalleries-list">
              <div class="card sec-card-editgaleri" style="width: 16rem">
                <img
                  src="{% static 'luminance/img/abs.png' %}"
                  class="card-img-top fit-image"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <i
                      class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                    ></i>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="scroll-wrapper">
          <h2 class="title-style-top">Abstrak</h2>
          {# Mengganti Judul untuk contoh #}
          <ul class="list-inline m-0 p-0">
            <li class="list-inline-item mygalleries-list">
              <div class="card sec-card-editgaleri" style="width: 16rem">
                <img
                  src="{% static 'luminance/img/abs.png' %}"
                  class="card-img-top fit-image"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <i
                      class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                    ></i>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-inline-item mygalleries-list">
              <div class="card sec-card-editgaleri" style="width: 16rem">
                <img
                  src="{% static 'luminance/img/abs.png' %}"
                  class="card-img-top fit-image"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <i
                      class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                    ></i>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-inline-item mygalleries-list">
              <div class="card sec-card-editgaleri" style="width: 16rem">
                <img
                  src="{% static 'luminance/img/abs.png' %}"
                  class="card-img-top fit-image"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <i
                      class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                    ></i>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">
            Edit Informasi Karya
          </h5>
          {# Mengubah id offcanvas title #}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="container-fluid border rounded form-tambah-galeri">
            <form>
              <div class="mb-3">
                <label for="editKaryaJudul" class="form-label">Judul</label>
                <input
                  type="text"
                  class="form-control"
                  id="editKaryaJudul"
                  aria-describedby="editKaryaJudulHelp"
                />
              </div>
              <div class="mb-3">
                <label for="editKaryaTahun" class="form-label">Tahun</label>
                <input type="text" class="form-control" id="editKaryaTahun" />
              </div>

              <div class="mb-3">
                <label for="editKaryaMedia" class="form-label">Media</label>
                <input type="text" class="form-control" id="editKaryaMedia" />
              </div>

              <div class="mb-3">
                <label for="editKaryaDimensi" class="form-label">Dimensi</label>
                <input
                  type="text"
                  class="form-control"
                  id="editKaryaDimensi"
                  aria-describedby="editKaryaDimensiHelp"
                />
              </div>
              <div class="mb-3">
                <label for="editKaryaSeniman" class="form-label">Seniman</label>
                <input type="text" class="form-control" id="editKaryaSeniman" />
              </div>

              <div class="mb-3">
                <label for="editKaryaKontakSeniman" class="form-label"
                  >Kontak seniman</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="editKaryaKontakSeniman"
                />
              </div>

              <label for="editUnggahKaryaFile" class="form-label"
                >Unggah karya</label
              >
              <div class="input-group mb-3">
                <input
                  type="file"
                  class="form-control"
                  id="editUnggahKaryaFile"
                  accept="image/*"
                />
                <label class="input-group-text" for="editUnggahKaryaFile"
                  >Upload</label
                >
              </div>

              <div class="mb-3">
                <label for="editKaryaDeskripsi" class="form-label"
                  >Deskripsi</label
                >
                <textarea
                  class="form-control"
                  id="editKaryaDeskripsi"
                  rows="3"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Unggah</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
