{% extends 'luminance/baseDash.html' %} {% block title %}Beranda{% endblock %}
{%block content %} {% load static %}

<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <div class="container-fluid">
      <div class="row mygaleri">
        <div class="col-md-5">
          <div class="container-fluid border rounded karya collapse-pad">
            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item edit-info-gall-name">
                Omke Gallery Pvt. Ltd.
              </li>
              <li class="list-group-item edit-info-gall">
                <i class="fa-solid fa-location-dot fa-lg"></i> ini lokasi galeri
              </li>
              <li class="list-group-item edit-info-gall">
                <i class="fa-solid fa-phone"></i> 12222267887
              </li>
              <li class="list-group-item edit-info-gall">
                <i class="fa-solid fa-envelope"></i> nabilzerma@gmail.com
              </li>
              <li class="list-group-item edit-info-gall">
                <i class="fa-brands fa-instagram"></i> An item
              </li>
              <li class="list-group-item edit-info-gall">
                <i class="fa-brands fa-facebook"></i> A second item
              </li>
              <li class="list-group-item edit-info-gall">
                <i class="fa-brands fa-square-x-twitter"></i> A third item
              </li>
              <li class="list-group-item edit-info-gall">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Autem ipsa possimus quis molestiae ducimus quidem non esse
                  asperiores incidunt? Nam, dignissimos ipsa perspiciatis fugiat
                  consectetur quaerat quis harum eligendi ea?
                </p>
              </li>
            </ul>
            <p class="d-inline-flex gap-1 mt-2">
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Edit info galeri
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="container-fluid border rounded form-tambah-galeri">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Judul</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Kontak*</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Lokasi</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <label for="exampleInputPassword1" class="form-label"
                    >Media sosial</label
                  >
                  <div class="row g-3">
                    <div class="col">
                      <i class="fa-brands fa-instagram"></i>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First name"
                        aria-label="First name"
                      />
                    </div>

                    <div class="col">
                      <i class="fa-brands fa-facebook"></i>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last name"
                        aria-label="Last name"
                      />
                    </div>
                    <div class="col mb-3">
                      <i class="fa-brands fa-square-x-twitter"></i>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last name"
                        aria-label="Last name"
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >Deskripsi</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Edit</button>
                </form>
              </div>
            </div>
          </div>

          <div class="container-fluid border rounded karya collapse-pad">
            <p class="d-inline-flex gap-1">
              <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-tambah-galeri"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Tambah karya
              </button>
            </p>
            <div class="collapse" id="collapse-tambah-galeri">
              <div class="container-fluid border rounded form-tambah-galeri">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Judul</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Tahun</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Media</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Dimensi</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Seniman</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Kontak seniman</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <label for="exampleInputPassword1" class="form-label"
                    >Unggah karya</label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="file"
                      class="form-control"
                      id="inputGroupFile02"
                    />
                    <label class="input-group-text" for="inputGroupFile02"
                      >Upload</label
                    >
                  </div>

                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >Deskripsi</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Unggah</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-7 bg-edit-img border rounded">
          <div class="row">
            <div class="scroll-wrapper">
              <h2 class="title-style-top">Realisme</h2>
              <ul class="list-inline m-0 p-0">
                <li class="list-inline-item mygalleries-list">
                  <div class="card sec-card-editgaleri" style="width: 16rem">
                    <img
                      src="{% static 'luminance/img/abs.png' %}"
                      class="card-img-top fit-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <div
                        class="d-flex justify-content-left align-items-center"
                      >
                        <button type="submit" class="btn btn-outline-danger">
                          <i class="fa-solid fa-trash fa-xl"></i>
                        </button>
                        <button
                          class="btn btn-outline-warning ms-2"
                          type="button"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasRight"
                          aria-controls="offcanvasRight"
                        >
                          <i class="fa-solid fa-pencil fa-xl"></i> Edit
                        </button>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="list-inline-item mygalleries-list">
                  <div class="card sec-card-editgaleri" style="width: 16rem">
                    <img
                      src="{% static 'luminance/img/abs.png' %}"
                      class="card-img-top fit-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <i
                          class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                        ></i>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="list-inline-item mygalleries-list">
                  <div class="card sec-card-editgaleri" style="width: 16rem">
                    <img
                      src="{% static 'luminance/img/abs.png' %}"
                      class="card-img-top fit-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <i
                          class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                        ></i>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="scroll-wrapper">
              <h2 class="title-style-top">Realisme</h2>
              <ul class="list-inline m-0 p-0">
                <li class="list-inline-item mygalleries-list">
                  <div class="card sec-card-editgaleri" style="width: 16rem">
                    <img
                      src="{% static 'luminance/img/abs.png' %}"
                      class="card-img-top fit-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <i
                          class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                        ></i>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="list-inline-item mygalleries-list">
                  <div class="card sec-card-editgaleri" style="width: 16rem">
                    <img
                      src="{% static 'luminance/img/abs.png' %}"
                      class="card-img-top fit-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <i
                          class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                        ></i>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="list-inline-item mygalleries-list">
                  <div class="card sec-card-editgaleri" style="width: 16rem">
                    <img
                      src="{% static 'luminance/img/abs.png' %}"
                      class="card-img-top fit-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <i
                          class="fa-solid fa-heart text-danger fs-4 cursor-pointer"
                        ></i>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasRight">Edit Informasi Karya</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
                <div class="container-fluid border rounded form-tambah-galeri">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Judul</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Tahun</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Media</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Dimensi</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Seniman</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >Kontak seniman</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >Deskripsi</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Unggah</button>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
