{% extends 'luminance/base.html' %} {% block title %}Beranda{% endblock %}
{%block content %} {% load static %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="mw-100 navbar-search mt-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-light border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid sec-home-gallery">
  <div class="row pad-gal">
  {% for gallery in galleries %}
  <div class="card sec-card m-2" style="width: 21rem">
    {% if gallery.thumbnail %}
    <img
      src="{{ gallery.thumbnail.url }}"
      class="card-img-top fit-image"
      alt="{{ gallery.title }}"
    />
    {% else %}
    <img
      src="{% static 'luminance/img/abs.png' %}"
      class="card-img-top fit-image"
      alt="{{ gallery.title }}"
    />
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ gallery.title }}</h5>
      <p class="card-text">{{ gallery.description|truncatewords:20 }}</p>
      <div class="d-flex justify-content-between align-items-center">

        
        <a href="{% url 'detail_galeri' pk=gallery.pk %}" class="btn btn-primary">Lihat Detail</a>


       
        <div class="d-flex gap-3">

         
          <form method="POST" action="{% url 'like_gallery' gallery.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-link p-0 border-0">
              {% if gallery.id in liked_gallery_ids %}
                <i class="fa-solid fa-heart fa-lg" style="color:red;"></i>
              {% else %}
                <i class="fa-regular fa-heart fa-lg"></i>
              {% endif %}
            </button>
          </form>

          
          <form method="POST" action="{% url 'save_gallery' gallery.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-link p-0 border-0">
              {% if gallery.id in saved_gallery_ids %}
                <i class="fa-solid fa-bookmark fa-lg"></i>
              {% else %}
                <i class="fa-regular fa-bookmark fa-lg"></i>
              {% endif %}
            </button>
          </form>

        </div>
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>

</div>

<div class="container-fluid">
  <div class="row pagi-pos">
    <nav aria-label="Page navigation example ">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
