{% extends 'luminance/base.html' %} {% block title %}Beranda{% endblock %}
{%block content %} {% load static %}

<div class="container-fluid">
  <div class="row shadow-lg">
    <div class="col-md-6 jumbotron text-container">
      <h3 class="home-yap">Selamat Datang di,</h3>
      <h1 class="home-appname">ARTIVIO</h1>
      <p class="home-subyap">
        Nikmati beragam karya seni dari banyak seniman, <br />
        tersaji dalam galeri digital yang simpel dan nyaman untuk dinikmati.
      </p>
      <a class="btn btn-home" href="{% url 'login' %}" role="button">
        <h3>Mulai Galeri Anda</h3>
      </a>
    </div>
    <div class="col-md-6 jumbotron d-none d-md-block lands-n">
      <img
        src="{% static 'luminance/img/imgHome.png' %}"
        class="img-fluid img-res"
        alt="..."
      />
    </div>
  </div>
</div>

<!-- ====================== Bagian Karya ======================== -->
<div class="container-fluid sec-artwork">
  <div class="row">
    <div class="col-md-4 col-yap rounded">
      <div
        class="row pos-sub-copy-writting-home justify-content-center align-items-center"
      >
        <p class="sub-copy-writting-home">
          Lihat,<br />
          Rasakan,<br />
          dan temukan inspirasi
        </p>
        <p class="yap-copy-writting-home">
          Mulai dari lukisan, ilustrasi, hingga karya digital — semua punya
          cerita sendiri. Jelajahi dan temukan karya yang kamu sukai
        </p>
      </div>
    </div>

    <div class="col-md-8 flex-wrap">
      <div class="row art">
        <ul class="list-inline home-l-artwork">
          {% for karya in karya_list %}
          <li class="list-inline-item list-realis">
            <div class="image-hover-wrapper">
               <a href="{% url 'detail_karya' karya.pk %}">
                  <img
                    src="{{ karya.image_url.url }}"
                    class="img-fluid galeri-img-artwork shadow"
                  />
                </a>
              <div class="image-title">{{ karya.title }}</div>
            </div>
          </li>
          {% empty %}
          <p class="text-muted">Belum ada karya yang tersedia.</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- ==================== Bagian Galeri Populer =================== -->
<div class="container-fluid sec-home-gallery">
  <div class="row flex-wrap yap-home-galeri text-center">
    <p>Galeri Populer</p>
  </div>
  <div class="row horizontal-scroll">
    {% for galeri in galeri_terpopuler %}
    <div class="card sec-card me-2" style="width: 21rem">
      <img
        src="{{ galeri.thumbnail.url }}"
        class="card-img-top fit-image"
        alt="{{ galeri.title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ galeri.title }}</h5>
        <p class="card-text">{{ galeri.description|truncatechars:100 }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <a href="{% url 'detail_galeri' galeri.pk %}" class="btn btn-primary"
            >Lihat Galeri</a
          >
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-muted">Belum ada galeri tersedia.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
