{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'luminance/css/login/global.css' %}" />
    <link rel="stylesheet" href="{% static 'luminance/css/login/style.css' %}" />
    <link rel="stylesheet" href="{% static 'luminance/css/login/styleguide.css' %}" />
  </head>
  <body>
    <div class="desktop">
      <div class="account-wireframes-wrapper">
        <div class="account-wireframes">
          <div class="overlap-group">
            <div class="form">
              <div class="content">
                <header class="header">
                  <div class="div">
                    <!-- <div class="logo">
                      <div class="div">
                        <img class="vector" src="https://c.animaapp.com/ma6vsux8q6Ql23/img/vector-1.svg" />
                        <img class="group" src="https://c.animaapp.com/ma6vsux8q6Ql23/img/group.png" />
                        <img class="img" src="https://c.animaapp.com/ma6vsux8q6Ql23/img/vector-2.svg" />
                        <img class="group-2" src="https://c.animaapp.com/ma6vsux8q6Ql23/img/group-1.png" />
                        <img class="vector-2" src="https://c.animaapp.com/ma6vsux8q6Ql23/img/vector.svg" />
                      </div>
                    </div> -->
                  </div>
                  <div class="text">
                    <div class="text-wrapper">Sign in</div>
                    <p class="p">Don’t have an accout yet? <a href="#">Sign up</a></p>
                  </div>
                </header>
                <div class="form-2">
                  <div class="form-input">
                    <div class="input">
                      <div class="icon-input"><input class="your-email" placeholder="Username" type="text" /></div>
                    </div>
                  </div>
                  <div class="form-input-2">
                    <div class="input">
                        <div class="icon-input"><input class="your-email" placeholder="Password" type="text" /></div>
                    </div>
                  </div>
                  <div class="options"><div class="text-wrapper-2">Forgot password?</div></div>
                </div>
                <button type="submit" class="button"><span class="get-started">Sign in</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>