{% extends 'luminance/baseDash.html' %} {% block title %}Beranda{% endblock %}
{%block content %} {% load static %}

<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Buat Galeri</h1>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="container-fluid border rounded form-tambah-galeri">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Judul</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Kontak*</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Lokasi</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <label for="exampleInputPassword1" class="form-label"
                >Thumbnail galeri*</label
              >
              <div class="input-group mb-3">
                <input
                  type="file"
                  class="form-control"
                  id="inputGroupFile02"
                  accept="image/*"
                />
                <label class="input-group-text" for="inputGroupFile02"
                  >Upload</label
                >
              </div>
              <label for="exampleInputPassword1" class="form-label"
                >Media sosial</label
              >
              <div class="row g-3">
                
                <div class="col">
                  <i class="fa-brands fa-instagram"></i>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First name"
                    aria-label="First name"
                  />
                </div>
                
                <div class="col">
                  <i class="fa-brands fa-facebook"></i>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last name"
                    aria-label="Last name"
                  />
                </div>
                <div class="col mb-3">
                  <i class="fa-brands fa-square-x-twitter"></i>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last name"
                    aria-label="Last name"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Deskripsi</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Buat</button>
            </form>
          </div>
        </div>

        <div class="col-md-4">
          <label for="thum-preview">Thumbnail Preview</label>
          <div
            class="card sec-card-mygaleri"
            style="width: 21rem; display: none"
            id="cardPreview"
          >
            <img
              src=""
              class="card-img-top fit-image"
              alt="Preview Image"
              id="imagePreview"
            />
            <div class="card-body">
              <h5 class="card-title">Nama Galeri</h5>
              <p class="card-text">
                Isi deskripsi galeri mu, untuk menarik minat banyak orang <i class="fa-regular fa-face-smile-wink fa-lg"></i>
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
