{% extends 'luminance/baseDash.html' %} 

{% block title %}Buat Galeri{% endblock %} {# Ubah judul halaman menjadi "Buat Galeri" #}

{% block content %} 
{% load static %}

{# Hapus div id="content-wrapper" dan div id="content" karena sudah ada di baseDash.html #}
{# Cukup dimulai dengan div container-fluid #}

<div class="container-fluid">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'galeriSaya' %}">Galeri</a></li>
      <li class="breadcrumb-item active" aria-current="page">Buat Galeri</li>
    </ol>
  </nav>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Buat Galeri</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid border rounded form-tambah-galeri">
        <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
          <div class="mb-3">
            <label for="judulGaleri" class="form-label">Judul</label>
            <input
              type="text"
              name="title"
              class="form-control"
              id="judulGaleri"
              aria-describedby="judulHelp"
            />
          </div>
          <div class="mb-3">
            <label for="kontakGaleri" class="form-label">Kontak*</label>
            <input
            name="contact"
              type="text"
              class="form-control"
              id="kontakGaleri"
            />
          </div>

          <div class="mb-3">
            <label for="lokasiGaleri" class="form-label">Lokasi</label>
            <input
            name="location"
              type="text"
              class="form-control"
              id="lokasiGaleri"
            />
          </div>

          <label for="inputGroupFile02" class="form-label">Thumbnail galeri*</label>
          <div class="input-group mb-3">
            <input
            name="thumbnail"
              type="file"
              class="form-control"
              id="inputGroupFile02"
              accept="image/*"
            />
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>
          <label for="socialMedia" class="form-label">Media sosial</label>
          <div class="row g-3">
            
            <div class="col">
              <i class="fa-brands fa-instagram"></i>
              <input
              name="ig"
                type="text"
                class="form-control"
                placeholder="Instagram URL" {# Ganti placeholder agar lebih spesifik #}
                aria-label="Instagram URL"
              />
            </div>
            
            <div class="col">
              <i class="fa-brands fa-facebook"></i>
              <input
              name="fb"
                type="text"
                class="form-control"
                placeholder="Facebook URL" {# Ganti placeholder agar lebih spesifik #}
                aria-label="Facebook URL"
              />
            </div>
            <div class="col mb-3">
              <i class="fa-brands fa-square-x-twitter"></i>
              <input
              name="xtwt"
                type="text"
                class="form-control"
                placeholder="Twitter URL" {# Ganti placeholder agar lebih spesifik #}
                aria-label="Twitter URL"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="deskripsiGaleri" class="form-label">Deskripsi</label>
            <textarea
            name="description"
              class="form-control"
              id="deskripsiGaleri"
              rows="3"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Buat</button>
        </form>
      </div>
    </div>

    <div class="col-md-4">
      <label for="thum-preview">Thumbnail Preview</label>
      <div
        class="card sec-card-mygaleri"
        style="width: 21rem; display: none"
        id="cardPreview"
      >
        <img
          src=""
          class="card-img-top fit-image"
          alt="Preview Image"
          id="imagePreview"
        />
        <div class="card-body">
          <h5 class="card-title">Nama Galeri</h5>
          <p class="card-text">
            Isi deskripsi galeri mu, untuk menarik minat banyak orang <i class="fa-regular fa-face-smile-wink fa-lg"></i>
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}