  .scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 1rem 0;
    height: 23rem; /* Atur sedikit lebih tinggi dari card */
  }

  .scroll-wrapper .mygalleries-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
  }

  .sec-card-editgaleri {
    height: 18rem; /* Tinggi card, disesuaikan */
  }

  .bg-edit-img{
    background-color: #ffffff;
    padding: 16px;
  }

.collapse-pad{
    margin-top: 16px;
    padding: 16px;
  }

  .edit-info-gall-name{
     font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px !important;
  color: black;

  }

  .edit-info-gall{
    font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px !important;
  color: black;
 
  }