.pp{
    width: 200px;
    height: 200px;
    border-radius: 100px !important;
    object-fit: cover;
    margin-left: 48px;
}

.join-date{
     font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px !important;
  color: rgb(23, 169, 62);

}

.profil-user{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px !important;
  color: rgb(0, 0, 0);

}

.profil-email{
      font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px !important;
  color: rgb(0, 0, 0);

}

.role-badge{
  
  font-weight: 400;
  font-style: normal;
  font-size: 12px !important;

}

.l-name{
       font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px !important;
  color: rgb(0, 0, 0);
}

.fn{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px !important;
  color: rgb(0, 0, 0);
}

.bio-profile{
     font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px !important;
  color: rgb(0, 0, 0);
}