.karya-info{
     margin-top: 48px !important;
     background-color: #ffffff;
}

.dkarya-info-karya{
      background-color: #f2f2f2;
}

.prof-gal-onkarya{
   margin-bottom: 16px;

}

.artwork-title{
     font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px !important;
  margin: 16px 0px 16px 8pxpx;
  padding-top: 16px;
}

.sec-comment{
    height: 100px !important;
}

.artwork-medium{
     font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px !important;
  margin: 0px 0px 16px 4px;
}

.artwork-desc{
     font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px !important;
  margin: 0px 16px 16px 4px !important;
  text-align: justify;
}


.artwork-port {
max-height: 100vh; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 16px !important; 
}

.comment-profile-pic {
    width: 50px;  /* Atur lebar foto profil */
    height: 50px; /* Atur tinggi foto profil */
    object-fit: cover; /* Pastikan gambar tidak gepeng jika rasio beda */
}

.artwork-view {
     padding: 24px;
    object-fit: contain; 
    max-width: 100%;     
    max-height: 100%; 
}

.arrow-btn {
        font-size: 1.5rem;            
        width: 50px;                  
        height: 50px;                 
        border-radius: 50%;           
        background-color: rgba(0, 0, 0, 0.5); 
        border: none;                 
        color: white;                 
        opacity: 0.7;                 
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

.arrow-btn:hover {
        opacity: 1;                   
        background-color: rgba(0, 0, 0, 0.8); 
        transition: opacity 0.2s;
    }

    .artwork-port{
        margin-top: 16px !important;
        overflow-y: auto !important;
        scroll-behavior: smooth !important;
    }

    .more-art-by{
        margin-top: 32px !important;
    }

    .more-img-artwork{
         width: 100px !important;
        height: 100px !important;
        object-fit: cover; 
        margin-left: 4px;
        margin-top: 4px;
    }

    .more-by-bg{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 12px !important;
        background-color: #bfbfbf;
        display: inline-block !important;
    }
       .more-by-bg h3{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 12px !important;
        background-color: #bfbfbf;
        display: inline-block !important;
    }

    @media (max-width: 991.98px){
          .more-img-artwork{
         width: 80px !important;
        height: 80px !important;
        object-fit: cover; /* Menjaga proporsi gambar agar tidak terdistorsi */
        margin-top: 4px;
        margin-left: 12px;
    }

    .con-art{
        margin-top: 64px !important;
    }
    }

    @media (max-width: 575.98px){
        .more-img-artwork{
         width: 100px !important;
        height: 100px !important;
        object-fit: cover; /* Menjaga proporsi gambar agar tidak terdistorsi */
        margin-top: 4px;
        margin-left: 4px;
    }

    
}



.comments-scroll-container {
    max-height: calc(90vh - 200px); 
    overflow-y: auto;
    
    direction: rtl; 
    padding-right: 0; 
    padding-left: 15px; 
}


.comments-scroll-container ul {
    direction: ltr; 
}


.dkarya-info-karya .karya-info {
    display: flex;
    flex-direction: column;
}

.dkarya-info-karya .karya-info .comments-scroll-container {
    flex-grow: 1;
    max-height: calc(100vh - 300px); /* Sesuaikan berdasarkan tinggi elemen lain di kolom */
}


.comments-scroll-container::-webkit-scrollbar {
    width: 8px;
}

.comments-scroll-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.comments-scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}



.artwork-view {
  display: block; 
  max-width: 100%;
  height: auto;
  margin: 0 auto; 
}

.artwork-container {
  
  display: flex;
  flex-direction: column; 
  align-items: center; 
  
}


.love-icon-form {
 

  
  margin-top: 20px; 
  text-align: center; 
}


.love-icon-form .btn {
  display: block; 
  margin: 0 auto; 
}

.love-icon-form .fa-heart {
  
  font-size: 2em; 
}