<footer>
    <div class=" mt-3">
        <footer class="text-center text-lg-start text-dark foot" style="background-color: #ECEFF1">

            <section class="footer-part" style="padding-top: 10px;">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold">LIVEit</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p class="footer-yap">
                                Artivio adalah platform inovatif yang menghadirkan pengalaman galeri seni digital yang imersif bagi para seniman dan penikmat seni.
                                Dengan fokus pada kualitas visual dan interaksi yang mendalam, Artivio menawarkan ruang virtual yang dirancang dengan teknologi mutakhir, fitur eksplorasi interaktif, serta opsi personalisasi untuk setiap seniman.
                                Platform ini bukan sekadar tempat untuk menampilkan karya, melainkan sebuah ekosistem dinamis yang mendukung apresiasi dan pertumbuhan seni digital di era modern.
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold">LIVEit</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p class="footer-yap">
                                Artivio adalah platform inovatif yang menghadirkan pengalaman galeri seni digital yang imersif bagi para seniman dan penikmat seni.
                                Dengan fokus pada kualitas visual dan interaksi yang mendalam, Artivio menawarkan ruang virtual yang dirancang dengan teknologi mutakhir, fitur eksplorasi interaktif, serta opsi personalisasi untuk setiap seniman.
                                Platform ini bukan sekadar tempat untuk menampilkan karya, melainkan sebuah ekosistem dinamis yang mendukung apresiasi dan pertumbuhan seni digital di era modern.
                            </p>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Konten</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <i class="fa-solid fa-house"></i> <a href="#!" class="text-dark">Home</a>
                            </p>
                            <p>
                                <i class="fa-solid fa-images"></i> <a href="#!" class="text-dark">Galeri</a>
                            </p>
                            <p>
                                <i class="fa-solid fa-circle-info"></i> <a href="#!" class="text-dark">about</a>
                            </p>
                        </div>

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Media Sosial</h6>
                            
                                <a class="footer-medsos" href=""><i class="fa-brands fa-facebook fa-2xl" style="color: #000000;"></i></a>
                                <a class="footer-medsos" href=""><i class="fa-brands fa-github fa-2xl" style="color: #000000;"></i></a>
                                <a class="footer-medsos" href=""><i class="fa-solid fa-paper-plane fa-2xl" style="color: #000000;"></i></a>
                                <a class="footer-medsos" href=""><i class="fa-brands fa-instagram fa-2xl" style="color: #000000;"></i></a>
                        </div>
                    </div>  
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div  id="copyright" class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)"></div>

            <!-- Copyright -->
        </footer>
    </div>
</footer>
